node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
/build/
/out/
bower_components/
.env
.env.local
.env.*.local
.vscode/
.idea/
*.sublime-workspace
*.sublime-project
.vs/
.DS_Store
Thumbs.db
logs/
*.log
eslint.config.mjs
styles/output.css
/dist/