node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
/build/
/out/
bower_components/
.env
.env.local
.env.*.local
.vscode/
.idea/
*.sublime-workspace
*.sublime-project
.vs/
.DS_Store
Thumbs.db
logs/
*.log
styles/styles.css
dist/
# ignore all files in src that might've been compiled
src/captcha.js
src/asi.js
src/calc.js
src/civilization.js
src/excuses.js
src/fence.js
src/rng.js
src/users.js