body {
    font-family: "Stack Sans Text", sans-serif;
}

.mnsw-btn {
    width: 45px;
    height: 45px;
    margin: 3px;
    border-radius: 0px;
    border-color: black;
    transition: background-color 0.1s ease;
    font-size: 1.25em;
}

.mnsw-btn-blank {
    font-size: 0.8em !important;
}

.mnsw-btn-both-negative {
    font-size: 0.7em !important;
}

.mnsw-magic {
    background-color: #28d800 !important;
    color: #565656 !important;
}

h1 {
    margin-bottom: 0px;
}

button {
    font-family: 'Ubuntu', Times, serif;
}

.mnsw-revealed {
    background-color: #22b900;
}

.mnsw-flagged {
    background-color: rgb(255, 242, 0);
    background-image: url('../../assets/flag.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 45px;
    height: 45px;
}

.mnsw-flagged:hover {
    background-color: rgb(255, 242, 0) !important;
}

h4 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.mnsw-lost {
    background-color: rgb(255, 0, 0);
}

.mnsw-lost:hover {
    background-color: rgb(255, 0, 0) !important;
}

.mnsw-btn:hover {
    background-color: rgb(162, 255, 0);
}

button:disabled {
    color: inherit;
    background-color: #22b900;
    opacity: 1;
}

button:disabled:hover,
button:disabled:active {
    border-color: black;
    background-color: #22b900;
    transform: none;
    box-shadow: none;
}

#main {
    display: grid;
    grid-template-columns: repeat(12, 45px);
    grid-template-rows: repeat(12, 45px);
    gap: 5px;
}

#tut-container {
    flex-direction: column;
    max-width: 600px;
    gap: 10px;
    font-family: 'Times New Roman', Times, serif;
}

h6 {
    margin: 0px;
}

p {
    margin: 0px;
}

#tutorial {
    margin: 10px;
    width: 125px;
    height: 25px;
}