.mnsw-btn {
    width: 50px;
    height: 50px;
    margin: 5px;
    border-radius: 0px;
    border-color: black;
    transition: background-color 0.1s ease;
}

.mnsw-revealed {
    background-color: #22b900;
}

.mnsw-flagged {
    background-color: rgb(255, 242, 0);
}

.mnsw-btn:hover {
    background-color: rgb(162, 255, 0);
}

button:disabled {
    color: inherit;
    background-color: #22b900;
    opacity: 1;
}

button:disabled:hover,
button:disabled:active {
    border-color: black;
    background-color: #22b900;
    transform: none;
    box-shadow: none;
}

#main {
    display: grid;
    grid-template-columns: repeat(10, 50px);
    grid-template-rows: repeat(10, 50px);
    gap: 5px;
}